*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    color: darkgray;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(7, 148, 19);
}

.nav-brand {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;

}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav-toggler div{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
}

.nav-toggler {
    cursor: pointer;
    display: none;
}

/* responsiveness adjustments */
@media screen and (max-width: 767px) {
    .nav-toggler {
        display: block;
    }
    .nav-menu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: rgb(0, 28, 73);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

.nav-active {
    transform: translateX(0);
}

/* Toggler Icon Animation Settings */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, -5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}